nav.navbar.navbar-dark.bg-dark.navbar-expand-sm.fixed-top.flex-md-nowrap
  a.home-logo.navbar-brand(href='/') ECL IDE
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-nav'): span.navbar-toggler-icon
  div#main-nav.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.app-controls
      li.nav-item.dropdown
        a#workspaceSelect.nav-link.dropdown-toggle(
          href='#', role='button', data-toggle='dropdown',
          aria-haspopup='true', aria-expanded='false'
        ) Select Workspace...
        div.dropdown-menu.workspaces(aria-labelledby='workspaceSelect')
          a.dropdown-item.cloner.d-none(href='#') Workspace
          .workspace-tip.ml-3.mr-2.d-none
            p.m-0.float-left No workspaces yet.#[br] Create one now.
            span.float-right
              i.mt-1.mr-2.fa.fa-2x.fa-arrow-up
      li.nav-item
        a.workspace-btn.new-workspace.text-light.badge.badge-pill.badge-secondary.float-left(
          href='#', title="New Workspace...", data-toggle="modal",
          data-target="#newWorkspaceModal"
        ) NEW
            i.fa.fa-plus.ml-1.float-right
      li.nav-item.d-none
        a.workspace-btn.delete-workspace.text-light.badge.badge-pill.badge-danger.float-left(
          href='#', title="Delete Workspace...", data-toggle="modal",
          data-target="#removeWorkspaceModal"
        ) DELETE

    if errors && errors.length > 0
      div.workspace-load-msg.alert.alert-danger.alert-dismissible.fade.show #{errors[0]}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
    else if info && info.length > 1 && info[1].workspaceId
      div.workspace-load-msg.alert.alert-info.alert-dismissible.fade.show(data-workspaceid=info[1].workspaceId) #{info[0]}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
    else if info && info.length > 0
      div.workspace-load-msg.alert.alert-info.alert-dismissible.fade.show #{info[0]}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;

    ul.navbar-nav.ml-md-auto
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") Help
          i.fa.fa-lg.fa-question-circle.float-left.mr-2
        div.dropdown-menu.help-menu
          a.dropdown-item(id="tour-link", href="#")
            span.align-middle Feature Tour
            i.fa.fa-map-signs.float-left.mr-2.mt-1
          a.dropdown-item(
            href="https://d2wulyp08c6njk.cloudfront.net/releases/CE-Candidate-7.4.8/" +
              "docs/EN_US/ECLLanguageReference_EN_US-7.4.8-1.pdf", target="_blank"
          )
            span.align-middle ECL Docs
            i.fa.fa-book.float-left.mr-2.mt-1
          a.dropdown-item(href="/files/ECL_Cheat_Sheet.pdf", target="_blank")
            span.align-middle ECL Cheatsheet
            i.fa.fa-life-ring.float-left.mr-2.mt-1
          //- a.dropdown-item(href="#", data-toggle="modal", data-target="#feedbackModal")
          //-   span.align-middle Feedback
          //-   i.fa.fa-bullhorn.float-left.mr-2.mt-1
      li.nav-item
        a.nav-link(href='/users/account') #{user.username}
          i.fa.fa-lg.fa-user.float-left.mr-2
      li.nav-item
        a.nav-link(href='/auth/logout') Logout
          i.fa.fa-lg.fa-sign-out.float-left.mr-2

div.modal.fade(id="newWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title New Workspace
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        nav
          div.nav.nav-tabs(id="new-workspace-nav-tab", role="tablist")
            a.nav-item.nav-link.active.show(
              id="nav-create-workspace-tab", data-toggle="tab", href="#create-workspace",
              role="tab", aria-controls="create-workspace", aria-selected="true"
            ) Create
            a.nav-item.nav-link(
              id="nav-import-workspace-tab", data-toggle="tab", href="#import-workspace",
              role="tab", aria-controls="import-workspace", aria-selected="true"
            ) Import
        div.tab-content(id="nav-new-workspace-tabContent")
          div.tab-pane.fade.active.show(id="create-workspace", role="tabpanel", aria-labelledby="nav-create-workspace-tab")
            form(data-type="create")
              div.form-group
                label.col-form-label(for="workspace-name") Name:
                input.form-control(
                  id="workspace-name", name="workspaceName", type="text",
                  required="required", placeholder="MyWorkspace...", pattern="[a-zA-Z]{1}[a-zA-Z0-9_]*"
                )
                .invalid-feedback Please provide a valid name for the workspace.
              div.form-group
                label.col-form-label(for="workspace-cluster") Cluster:
                select.custom-select(id="workspace-cluster", name="workspaceCluster", required="required")
                  option(value="") Select...
                  if clusterList
                    each cluster in clusterList
                      option(value=cluster) #{cluster}
                .invalid-feedback Please select a cluster.
              div.form-group
                label.col-form-label(for="cluster-username") Cluster Username:
                input.form-control(
                  id="cluster-username", name="clusterUsername", type="text"
                )
              div.form-group.position-relative
                label.col-form-label(for="cluster-password") Cluster Password:
                input.form-control(
                  id="cluster-password", name="clusterPassword", type="password",
                  data-changed="false"
                )
                i.fa.fa-lg.fa-eye-slash.text-secondary.toggle-password(title="Show Password")
          div.tab-pane.fade(id="import-workspace", role="tabpanel", aria-labelledby="nav-import-workspace-tab")
            form(data-type="import")
              div.form-group
                label.col-form-label(for="workspace-url") Url:
                input.form-control(
                  id="workspace-url", name="workspaceName", type="text",
                  required="required", placeholder="Paste share workspace url..."
                )
                .invalid-feedback Please provide a valid name for the workspace.
              div.workspace-summary.d-none
                div.summary-card.d-flex.flex-column
                  span.workspace-name
                    label.p-0.m-0.mr-1.font-weight-bold Workspace:
                    span Workspace
                  span.workspace-creator
                    label.p-0.m-0.mr-1.font-weight-bold Created by:
                    span John Doe
                  span.workspace-created
                    label.p-0.m-0.mr-1.font-weight-bold Created:
                    span 2020-01-01 12:00

      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary Save

div.modal.fade(id="editWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Edit Workspace
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        form
          div.form-group
            label.col-form-label(for="edit-workspace-name") Name:
            input.form-control(
              id="edit-workspace-name", name="workspaceName", type="text",
              required="required", placeholder="MyWorkspace...", pattern="[a-zA-Z]{1}[a-zA-Z0-9_]*"
            )
            .invalid-feedback Please provide a valid name for the workspace.
          div.form-group
            label.col-form-label(for="edit-workspace-cluster") Cluster:
            select.custom-select(id="edit-workspace-cluster", name="workspaceCluster", required="required")
              option(value="") Select...
              if clusterList
                each cluster in clusterList
                  option(value=cluster) #{cluster}
            .invalid-feedback Please select a cluster.
          div.form-group
            label.col-form-label(for="edit-cluster-username") Cluster Username:
            input.form-control(
              id="edit-cluster-username", name="clusterUsername", type="text"
            )
          div.form-group.position-relative
            label.col-form-label(for="edit-cluster-password") Cluster Password:
            input.form-control(
              id="edit-cluster-password", name="clusterPassword", type="password",
              placeholder="Enter value to change password...", data-changed="false"
            )
            i.fa.fa-lg.fa-eye-slash.text-secondary.toggle-password(title="Show Password")
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary Save

+modal('removeWorkspaceModal', 'Delete Workspace', {
    text: 'Delete', class: 'btn btn-danger'
  }, 'Cancel', 'Delete the workspace "<span class="workspacename">workspace</span>"?'
)

div.modal.fade.workspaceShareModal(id="shareWorkspaceModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title Share Workspace with Users
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        div.tab-content.pt-3(id="nav-share-workspace-tabContent")
          div.tab-pane.fade.active.show(id="nav-share-url", role="tabpanel", aria-labelledby="nav-share-url-tab")
            form
              p Copy the url below to share this workspace with any users.
              div.form-group.d-flex
                input.form-control.mr-3(id="shareUrl", name="shareUrl", type="text", readonly)
                button.btn.btn-outline-info.share-url-btn(id="copyUrl", title="Copy Url")
                  i.fa.fa-clipboard
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Close

+modal('feedbackModal', 'Submit Feedback', {
    text: 'Send', class: 'btn btn-primary'
  }, 'Close', '', [{
    label: 'Message:',
    tag: 'textarea',
    id: 'feedback-msg',
    Name: 'feedbackMsg',
    required: 'required',
    invalidMsg: 'Please provide a valid url for the cluster.'
  }
])