nav.col-sm-4.col-md-3.col-lg-3.col-xl-2.d-none.d-sm-block.bg-dark.sidebar(data-observe-resize)
  div.sidebar-sticky

    div.px-3.py-3(id="datasets-wrapper")
      div.d-flex.align-items-center
        h6.sidebar-heading.flex-grow-1.mt-1.mb-1.text-light
          a#dataset-collapser.text-light.js-collapser(
            data-toggle="collapse", href="#datasets", role="button",
            aria-expanded="false"
          )
            span Datasets
              i.fa.fa-chevron-right.ml-1.mt-1
        a#new-dataset.btn.btn-outline-light.btn-add(
            href='#', title="New Dataset...", data-toggle="modal",
            data-target="#newDatasetModal"
          )
            i.fa.fa-plus

      div.flex-column.datasets.collapse.folder-root(id="datasets")
        a.text-light.dataset.cloner.d-none(href='#')
          //- div.d-flex
            //- div.cardname-wrapper.flex-grow-1
          span.datasetname Name
            i.status.fa.fa-refresh.d-none
          i.fa.fa-close.delete.float-right.d-none(title="Delete dataset")
          i.fa.fa-pencil-square-o.edit.float-right.d-none.mr-1(title="Edit dataset")
          span.rows.d-none Rows: ?
          span.cols.d-none Columns: ?

    div.px-3.py-3(id="scripts-wrapper")
      div.d-flex.align-items-center
        h6.sidebar-heading.flex-grow-1.mb-1.text-light
          a#script-collapser.text-light.js-collapser(
            data-toggle="collapse", href="#scripts", role="button",
            aria-expanded="false"
          )
            span Scripts
              i.fa.fa-chevron-right.ml-1.mt-1
        a#new-script.btn.btn-outline-light.btn-add(
            href='#', title="New Script...", data-toggle="modal",
            data-target="#newScriptModal"
          )
            i.fa.fa-plus

      div.flex-column.scripts.collapse.folder-root(id="scripts")
        a.text-light.script.cloner.d-none(href='#')
          span.scriptname script
            i.status.fa.fa-refresh.d-none
          i.float-right.fa.fa-close.delete.d-none(title="Delete script")
          i.float-right.fa.fa-pencil-square-o.edit.d-none.mr-1(title="Edit script")

    a#new-folder.d-none(
      href='#', title="New Folder...", data-toggle="modal",
      data-target="#newFolderModal"
    ) New
    li.d-none
      a.folder.cloner.text-light
        span.foldername Name
        i.float-right.fa.fa-close.delete.d-none(title="Delete folder")
        i.float-right.fa.fa-pencil-square-o.edit.d-none.mr-1(title="Edit folder")
      ul.d-none

    div.sidebar-collapser.border.border-secondary.rounded-lg.text-secondary.p-2.float-right
      i.fa.fa-2x

div.context-menu(id="scripts-context-menu")
  ul.menu-items
    li(data-action="create_folder") New Folder
    li(data-action="create_script") New Script

div.context-menu(id="datasets-context-menu")
  ul.menu-items
    li(data-action="create_folder") New Folder
    li(data-action="create_dataset") New Dataset

+modal('newFolderModal', 'New Folder', {
    text: 'Save', class: 'btn btn-primary'
  }, 'Close', '', [{
    label: 'Name:',
    tag: 'input',
    id: 'new-folder-name',
    name: 'folderName',
    type: 'text',
    required: 'required',
    placeholder: 'MyNewFolder...',
    pattern: '[a-zA-Z]{1}[a-zA-Z0-9_]*',
    invalidMsg: 'Please provide a valid name for the folder.'
  }
])

+modal('editFolderModal', 'Edit Folder', {
    text: 'Save', class: 'btn btn-primary'
  }, 'Close', '', [{
    label: 'Name:',
    tag: 'input',
    id: 'edit-folder-name',
    name: 'folderName',
    type: 'text',
    required: 'required',
    placeholder: 'MyNewFolder...',
    pattern: '[a-zA-Z]{1}[a-zA-Z0-9_]*',
    invalidMsg: 'Please provide a valid name for the folder.'
  }
])

+modal('removeFolderModal', 'Remove Folder', {
    text: 'Delete', class: 'btn btn-danger'
  }, 'Cancel',
  'Delete the folder "<span class="foldername">folder</span>" ' +
  '(and its contents) from this workspace?'
)

+modal('newScriptModal', 'New ECL Script', {
    text: 'Save', class: 'btn btn-primary'
  }, 'Close', '', [{
    label: 'Name:',
    tag: 'input',
    id: 'new-script-name',
    name: 'scriptName',
    type: 'text',
    required: 'required',
    placeholder: 'MyNewScript...',
    pattern: '[a-zA-Z]{1}[a-zA-Z0-9_.]*',
    invalidMsg: 'Please provide a valid name for the script.'
  }
])

+modal('editScriptModal', 'Edit ECL Script', {
    text: 'Save', class: 'btn btn-primary'
  }, 'Close', '', [{
    label: 'Name:',
    tag: 'input',
    id: 'edit-script-name',
    name: 'name',
    type: 'text',
    required: 'required',
    pattern: '[a-zA-Z]{1}[a-zA-Z0-9_.]*',
    invalidMsg: 'Please provide a valid name for the script.'
  }
])

+modal('removeScriptModal', 'Remove ECL Script', {
    text: 'Delete', class: 'btn btn-danger'
  }, 'Cancel',
  'Delete the script "<span class="script-name">script</span>" ' +
  'from this workspace?'
)

div.modal.fade(id="newDatasetModal", role="dialog")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title New Dataset
        button.close(data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        nav
          div.nav.nav-tabs(id="new-dataset-nav-tab", role="tablist")
            a.nav-item.nav-link.active.show(
              id="nav-upload-tab", data-toggle="tab", href="#nav-upload",
              role="tab", aria-controls="nav-upload", aria-selected="true"
            ) Upload
            a.nav-item.nav-link(
              id="nav-import-tab", data-toggle="tab", href="#nav-import",
              role="tab", aria-controls="nav-import", aria-selected="true"
            ) Import
        div.tab-content(id="nav-new-dataset-tabContent")
          div.tab-pane.fade.active.show(id="nav-upload", role="tabpanel", aria-labelledby="nav-upload-tab")
            form(data-type="upload")
              div.form-group.form-group-file
                label.col-form-label(for="dataset-file") File:
                - var _allowedDatasetFormats = allowedDatasetFormats
                input.form-control-file(
                  id="dataset-file", name="datasetFile", type="file",
                  required="required", accept=_allowedDatasetFormats
                )
                .invalid-feedback Please select a CSV file to upload.
              div.form-group.mt-3.mb-0.d-none
                span
                  label(
                    for="dataset-row-path", data-toggle="popover", data-placement="right",
                    data-trigger="hover", title="Row Path", data-html="true",
                    data-content=`<p>Indicate the path within the JSON file which contains the rows you wish to import.
                    Often, a JSON file is simply an array of objects - and the default value
                    of the root path "<b>/</b>" would suffice to import those objects.</p>
                    <p>However, given the following JSON:
                    <br />
                    <pre style="overflow: none;">
{
  "type": "FeatureCollection",
  <b style="color: #007bff;">"features"</b>: [
    {
      "type": "Feature",
      "geometry": { ... },
      "properties": { ...},
    }, ...
  ],
  "dateCreated": ...,
  ...
}</pre>
                    you might enter "<b>/features</b>" to import the array of "features"
                    </p>`
                  ) Row Path
                    i.fa.fa-question-circle.ml-1.text-secondary
                input.form-control(
                  id="dataset-row-path", name="datasetRowPath", type="text",
                  value="/", pattern="(\/(.*))*"
                )
                .invalid-feedback
                  | Specify either the root of the JSON as "/", or some property
                  | below the root as "/some-property...", the first character should always be /
              div.form-group
                label.col-form-label(for="dataset-dropzone") Dropzone:
                select.custom-select(id="dataset-dropzone", name="dropzone", required="required")
                  option(value="") Select...
                .invalid-feedback Please select a dropzone to upload the file.
              div.form-group
                label.col-form-label(for="dataset-name") Name:
                input.form-control(
                  id="dataset-name", name="datasetName", type="text",
                  required="required", placeholder="MyNewDataset...",
                  pattern="[a-zA-Z]{1}[a-zA-Z0-9_]*"
                )
                .invalid-feedback Please provide a valid name for the dataset.
              div.file-details
          div.tab-pane.fade(id="nav-import", role="tabpanel", aria-labelledby="nav-import-tab")
            form(data-type="import")
              div.form-group
                file-explorer(id="dataset-import-explorer", cluster="http://10.173.147.1:8010", height="240px")
              div.file-preview.d-none
                label.col-form-label Preview:
                  i.fa.fa-spin.fa-spinner.ml-1.d-none
                p.d-none This logical file contains no data.
                table.table.table-sm.table-responsive
                  thead
                    tr
                  tbody
      div.modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        button.btn.btn-primary.disabled(type="submit", disabled="disabled") Save
          i.fa.fa-spinner.fa-pulse.ml-1.d-none

+modal('editDatasetModal', 'Edit Dataset', {
    text: 'Save', class: 'btn btn-primary'
  }, 'Close', '', [{
    label: 'Name:',
    tag: 'input',
    id: 'edit-dataset-name',
    name: 'name',
    type: 'text',
    required: 'required',
    pattern: '[a-zA-Z]{1}[a-zA-Z0-9_]*',
    invalidMsg: 'Please provide a valid name for the dataset.'
  }
])

+modal('removeDatasetModal', 'Remove Dataset', {
    text: 'Delete', class: 'btn btn-danger'
  }, 'Cancel',
  'Delete the dataset "<span class="dataset-name">dataset</span>" ' +
  'from this workspace?'
)